<div ng-if="auth._id"><p>
    Logged In!!!
</p></div>
<div id="formType">{{user.up ? 'SIGNUPPU' : 'SIGNINNU'}}</div>
<form ng-submit="user.up ? user.signup() : user.signin()">
    <label for="email">Email: </label>
    <input id="email" type="text" ng-model="user.model.email" placeholder="email">
    <label for="password">Password: </label>
    <input id="password" type="password" ng-model="user.model.password" placeholder="password">
    <input ng-if="user.up" type="text" ng-model="user.model.color" placeholder="color">
    <button type="submit" class="ui-button">Submit</button>
</form>